.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/webpack.config.js
**/jest.config.js
**/__tests__/**
**/*.test.ts
**/*.spec.ts
coverage/**
node_modules/**
.kiro/**